@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: rgb(138, 118, 118);
  color: var(--foreground);
  height: 100vh;
  width: 100vw;
}
.CanvasContainer {
  width: 500px;
  height: 500px;
  border: 2px dashed #ccc;
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #0a0a0a;
}
